<html>
<body>
 <br>
    Hi <b> <%= last_name %> </b> ,
    <br> <br>
    <b> Yours Login detail as : </b><br><br>
    
<b>First Name:</b><%= first_name %> <br>

<b>Last Name:</b> <%= last_name %> <br>
   
<b>Logo: </b><%= file_name %> <br>

<b>Email:</b><%= email %> <br>

</body>
</html>